.cart-content {
    color: white;
    font-family: souls;
    list-style: none;
    display: flex;
}
#handmaid {
    height: 300px;
    margin-left: 0px;

}
.cart-wrapper {
    display: flex;
    justify-content: center;
}
.checkout {
    background-color: #181a1b;
    color: white;
    font-family: souls;
    font-size: 18px;
    border: 1px solid #776e62;
    border-radius: 5px;
}
.cart-item {
    border: 2px solid #776e62;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.cart-image {
    height: 150px;
}
.cart-item-details {
    list-style: none;
}
.cart-checkout-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}
.remove-cart {
    background-color: #181a1b;
    color: white;
    font-family: souls;
    font-size: 18px;
    border: 1px solid #776e62;
    border-radius: 5px;
    margin-top: 125px;
}
.remove-cart:hover {
    cursor: pointer;
    background-color: #666;
}
.cart-item-image-wrapper {
    display: flex;
    flex-direction: row;
    width: 350px;
}
.checkout:hover {
    cursor: pointer;
    background-color: #666;
}
.checkout:disabled {
    color: #333;
    border: 1px solid #333;
    background-color: #181a1b;
    cursor: default;
}
#no-items {
    font-style: italic;
}
