#categories-ul {
    display: flex;
    flex-direction: row;
}
#category-section-title {
    display: flex;
    justify-content: center;
    color: white;
}
.category-listing {
    text-align: center;
    color: white;
    list-style: none;
    margin: 10px;
    background-color: #111;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #333;
    max-height: 20px;
    max-width: 200px;
    min-width: 10vim;
}
.category-listing:hover {
    background-color: #333;
    cursor: pointer;
    transition: .2s ease;
    border: 1px solid #776e62;
}
#cat-scroll {
    list-style: none;
    font-size: 30px;
    color: white;
    margin-top: 8px;
}
