#product-form-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: souls;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.form_errors {
    color: red;
    width: 256px;
    margin-right: 30px;
    height: 120px;
}
.form_errors > ul {
    list-style: none;
}
#new-weapon-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #776e62;
    width: 500px;
    border-radius: 5px;
}
#new-weapon-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
#new-weapon-form > div > div > input {
    width: 250px;
    height: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #776e62;
    color: white;
    text-align: center;
    display: flex;
    font-size: 15px;
}
#new-weapon-form > div > div > input:focus {
    outline: none;
}
#product-description {
    width: 250px;
    height: 50px;
    border: 1px solid #776e62;
    background-color: #333;
    color: white;
}
#new-weapon-form > div > div > select {
    width: 250px;
    height: 25px;
    background: none;
    background-color: #333;
    color: white;
    text-align: center;
}
#submit-product {
    margin-top: 15px;
    width: 100px;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #666;
    color: white;
    border: 3px solid #776e62;
}
#submit-product:hover {
    background-color: #999;
    cursor: pointer;
}
#submit-product:disabled {
    background-color: #222;
    color: #333;
    border: 3px solid #222;;
    cursor: not-allowed;
}
#image-preview {
    margin-left: 50px;
}
#image-preview > div > img {
    height: 257px;
    width: 189px;
}
