@font-face {
    font-family: 'souls';
    src: local('CrimsonText-Regular'), url(../../fonts/CrimsonText-Regular.ttf) format('truetype');
}
body {
    background-color: #181a1b;
}
.font-souls {
    font-family: souls;
    margin-top: 0px;
}
#details-component-wrapper {
    margin-left: 15%;
    margin-right: 15%;
    font-family: souls;
    background-color: #181a1b;
}
#details-component-wrapper > div {
    margin-bottom: 15px;
}
#title-wrapper {
    color: #F0EAE6;
    background-color: #181a1b;
    border-bottom: 1px solid #776e62;
}
#product-image {
    height: 257px;
    width: 189px;
}
.product-stats {
    color: white;
    font-size: 20px;
    width: 600px;
}
#details-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #776e62;
}
#description-container {
    margin-top: 10px;
    color: white;
    margin-left: 0px;
    width: 500px;
}
.detail-button {
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 150px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
.detail-button:hover {
    background-color: #666;
    cursor: pointer;
}
