#signup-form-wrapper {
    background-color: #181a1b;
    border: 1px solid #776e62;
    border-radius: 5px;
    height: 550px;
    width: 250px;
    display: flex;
    justify-content: center;
}
#signup-form {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: souls;
}
#signup-form > label {
    justify-content: flex-start;
}
#signup-form > p {
    font-size: 28px;
    margin-bottom: 25px;
}
#signup-form > input {
    border-radius: 5px;
    height: 20px;
    width: 200px;
    border: 1px solid #776e62;
}
#signup-submit {
    margin-top: 100px;
    font-family: souls;
    font-size: 20px;
    border: 1px solid #776e62;
    border-radius: 5px;
    margin-bottom: 5px;
}
#signup-submit:hover {
    background-color: #aaa;
    cursor: pointer;
}
#signup-submit:disabled {
    background-color: #666;
    cursor: default;
}
#close-signup-modal {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}
#close-signup-modal:hover {
    background-color: #f44;
}
#errors {
    height: 100px;
}
