.reviews-container {
    color: white;
    overflow-wrap:break-word;
}
#average-review-container {
    border-bottom: 1px solid #776e62;
    padding-bottom: 15px;
}
.review-card {
    border-bottom: 1px solid #776e62;
    font-size: 18px;
}
.review-speechless {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-justify: distribute;
}
#review-body {
    width: 100%;
}
#edit-review {
    margin: 5px;
    font-family: souls;
    height: 25px;
    background-color: #333;
    border-radius: 5px;
    width: 75px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
#edit-review:hover {
    background-color: #666;
}
#delete-review {
    height: 25px;
    margin-top: 5px;
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 75px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
#delete-review:hover {
    background-color: red;
}
