.reviews-container {
    color: white;
}
#average-review-container {
    border-bottom: 1px solid #776e62;
}
.review-card {
    border-bottom: 1px solid #776e62;
    font-size: 18px;
}
#edit-review {
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 75px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
#edit-review:hover {
    background-color: #666;
}
#delete-review {
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 75px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
#delete-review:hover {
    background-color: red;
}
