.detail-button {
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 150px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
}
.detail-button:hover {
    background-color: #666;
    cursor: pointer;
}
.review-rating {
    color: white;
    font-family: souls;
}
.review-rating > input {
    background-color: #333;
    font-family: souls;
    font-size: 25px;
    width: 30px;
}
#new-review-form {
    display: flex;
    flex-direction: column;
}
.review-content {
    background-color: #333;
    width: 450px;
    height: 150px;
    font-family: souls;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #776e62;
}
.review-error {
    color: red;
    text-decoration: underline;
    font-size: 18px;
}
