.detail-button {
    font-family: souls;
    background-color: #333;
    border-radius: 5px;
    width: 150px;
    color: white;
    border: 1px solid #776e62;
    font-size: 17px;
    margin: 7px;
    transition: 0.2s ease;
}
.detail-button:hover {
    background-color: #666;
    cursor: pointer;
    transition: 0.2s ease;
}
.review-rating {
    color: white;
    font-family: souls;
    display: flex;
    flex-direction: row;
}
.review-rating > input {
    background-color: #333;
    font-family: souls;
    font-size: 25px;
    width: 30px
}
#new-review-form {
    display: flex;
    flex-direction: column;
}
.review-content {
    background-color: #333;
    width: 450px;
    height: 150px;
    font-family: souls;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #776e62;
}
.review-error {
    color: red;
    text-decoration: underline;
    font-size: 18px;
}
.rate-product-button {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 40px;
    border: 1px solid #776e62;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2 ease;
}
.rate-product-button:hover {
    background-color: #776e62;
    cursor: pointer;
    transition: 0.2s ease;
}
